In [1]:
import numpy as np

In [2]:
raw_data = np.random.choice([0, 1], size=(10), p=[0.3, 0.7]).astype(np.int32)

In [3]:
raw_data

array([0, 1, 1, 1, 1, 0, 0, 0, 0, 0])

In [4]:
import syft as sy
from syft.core.adp.entity import Entity

dataset = {}

for person_index, test_result in enumerate(raw_data):
    data_owner = Entity(name=f'Patient #{person_index}')
    dataset[person_index] = sy.Tensor(np.ones(1, dtype=np.int32) * test_result).private(min_val=0, max_val=1, entities=data_owner)

In [5]:
domain_node = sy.login(email="info@openmined.org", password="changethis", port=8081)
domain_node.load_dataset(assets=dataset, name="COVID19 Test Results", description="Positive/Negative COVID19 Test results", metadata="No metadata")

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to None... done! 	 Logging into local_node... done!
Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

In [6]:
domain_node.datasets

In [7]:
domain_node.users.create(
    **{
        "name": "Sheldon Cooper",
        "email": "sheldon@caltech.edu",
        "password": "bazinga",
        "budget": 100
    }
)

In [8]:
domain_node.users

In [9]:
ds_node = sy.login(email="sheldon@caltech.edu", password="bazinga", port=8081)

Connecting to None... done! 	 Logging into local_node... done!

In [10]:
ds_node.datasets

In [11]:
# Let's get a pointer to the dataset
dataset = ds_node.datasets[0]
dataset

Dataset: COVID19 Test Results
Description: Positive/Negative COVID19 Test results

In [12]:
print(dataset)

AttributeError: 'Dataset' object has no attribute 'get'

In [13]:
results = [dataset[f'{i}'] for i in range(10)]

from time import sleep
total_cases = 0
for result in results:
    ptr = result.publish()
    sleep(1)
    ptr_got = ptr.get()
    print(ptr_got)
    total_cases += ptr_got

print(f'The total number of COVID19 cases are: {total_cases[0]}')

[-0.56579158]
[4.5577919]
[0.55531583]
[2.85118789]
[0.57885349]
[-1.33742571]
[-1.69441453]
[1.1963626]
[-0.83123018]
[1.36104384]
The total number of COVID19 cases are: 6.671693546444156